<div class="no-chat hidden">
	<span>No chat selected</span>
</div>
<div class="chat-contain">
	<div class="chat-header">
		<div class="chat-header-wrap">
			<div class="chat-title">{{chat.title}}</div>
			<div class="chat-subtitle">{{chat.subtitle}}</div>
		</div>
	</div>
	<div class="messages-contain">
	    {{#each chat.messages as |message|}}
        	{{chat-message message=message}}
    	{{/each}}	
    	<div class="input-padding"></div>
	</div>
	<div class="input-contain">
		<div class="label">
    		<span>Type a message</span>
	    </div>
	    <textarea type="text" name="message" resizable="false" />
	    <div class="send">
	    	<div class="fi-send"></div>
	    </div>
	</div>
</div>

{{#if chat.private}}
	<div class="chat-user-profile-contain">
		profile
		<!-- profile -->
	</div>
{{else}}
	<div class="chat-user-list-contain">
		list
		<!-- user list -->
		{{#each chat.user as |user|}}
	        {{user-object user=user}}
	    {{/each}}
	</div>
{{/if}}