<div class="avatar-contain"></div>
<div class="user-icon-contain">
	<div class="user-icon fi-star {{if user.friend "active"}}"></div>
	<div class="user-icon fi-bookmark {{if user.bookmark "active"}}"></div>
	
</div>
<div class="details-contain">
	<div class="user-name">{{user.name}}</div>
	<div class="message-type">{{user.userStatus}}{{#if user.statusMessage}}: {{user.statusMessage}}{{/if}}</div>
	<div class="snippet">{{user.snippet}}</div>
</div>
<div class="timestamp">{{user.relativeTime}}</div>